/* ALL */

body {
  font-weight: 200;
  /*
  -webkit-font-smoothing: antialiased;


    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
*/
}

.videos{

  width: 50%;

}

video{

  width: 100%    !important;
  height: auto   !important;

}

meter {

  position: relative;
  left: 0;
  bottom: 0;
  //transform: rotate(-90deg);
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
}
 meter::-webkit-meter-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
  background: #86CC00; /* Green */
  border-radius: 3px;
}

meter::-webkit-meter-suboptimum-value {
background: #FFDB1A; /* Yellow */
    border-radius: 3px;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
    border-radius: 3px;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* Video Area */

.videoArea {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0.7%;
  width: 22%;
  height: 96.6%;
}

.userVideoBox #serverVidBox{
  top: 25%;
  height: 87%;
}

.vidBox, #serverVidBox {
  position: relative;
  background: lightgrey;
  height: 150px;
  border-style: dashed;
  border-width: 1px;
}
