/* ALL */

body {
  font-weight: 200;
  /*
  -webkit-font-smoothing: antialiased;


    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
*/
}

video{

  width: 100%    !important;
  height: auto   !important;

}

meter {

  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
   meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

  meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
    border-radius: 3px;
}

meter::-webkit-meter-suboptimum-value {
background: #FFDB1A; /* Yellow */
    border-radius: 3px;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
    border-radius: 3px;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Login Page */

.login {
  background-color: #534d4d;
  font-size: 1.5em;
  width: 100%;
  position: fixed;

  text-align: center;

    .userNameInput {
       background-color: transparent;
       border: none;
       border-bottom: 1px solid #fff;
       outline: none;
       padding-bottom: 2.5px;
       text-align: center;
       width: 50%;
       letter-spacing: .05em;
  //     font-weight: 200;


     }
     .title, .userNameInput, .usersUpdate{
       color: #fff;
       font-weight: lighter;
     }
  }


/* Chat page */

.chat {
  display: none;
}

ul {
  list-style: none outside none;
}

.log + .message {
    padding-top: 1em;

}
.message + .log {
      padding-top: 1em;

}

.log {
  color: gray;
  font-size: 82%;
  text-align: center;

}

/* Messages */

.chatArea {
  width:  45%;
  height: 89.8%;
  position: relative;
  float: left;

}

.messages {
  height: 100%;
  padding: 0px 0px 0px 3.5%;
  margin-bottom: 0px;
  overflow: auto;
}

.messageBody {
  padding-left: 0.9%;

}

.message.typing {
  color: gray;
}

.userName {
  overflow: hidden;
  font-weight: 400;
}


/* Input */
.messagePost {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.3% 0 0.2% 0;
  border-top: 0.1em solid lightgrey;
  background: white;
}

.inputMessage {
  padding-left: 1%;
  height: 100%;
  width: 90%;
  outline: none;
  border-width: 0;
}

/* Video Area */

.videoArea {
  margin: 0;
  position: absolute;
  top: 1%;
  right: 0.7%;
  width: 55.7%;
  height: 93.6%;
}

.userVideoBox{
  top: 25%;
  height: 87%;
}

.vidBox, #serverVidBox {
  height: 33%;
  width: 33%;
  background: snow;
  border-style: solid;
  border-width: .05em;
  margin: .3px;
  position: absolute;
  overflow: hidden;
  border-radius: 7%;
}
.left{
  left: 0;
}
.centre {
  left: 33.3%;
}
.right{
  left: 66.6%;
}
.top{
  top: 0;
}
.mid{
  top: 33.3%;
}
.bot{
  top: 66.6%;
}

#serverVidBox {
  // // position: fixed;
  // width: 320px;
  // height: 240px;
  // background-color: #EEF;
  // position:relative;
}
